.vs/
.vscode/
.idea/
*.code-workspace
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

Binaries/
Build/
Saved/
Intermediate/
DerivedDataCache/

*_BuiltData.uasset

.DS_Store
Thumbs.db
Desktop.ini
